**
!LICENSE
!THIRD_PARTY_NOTICES.md
!backend/
!backend/package*.json
!backend/*.js
!backend/lib/
!backend/lib/**
!backend/routes/
!backend/routes/**
!backend/scripts/
!backend/scripts/msm-stub.sh
!frontend_winui/
!frontend_winui/package*.json
!frontend_winui/*.json
!frontend_winui/*.ts
!frontend_winui/index.html
!frontend_winui/src/
!frontend_winui/src/**
!frontend_winui/public/
!frontend_winui/public/**
!deploy/
!deploy/docker/
!deploy/docker/**
!update/
!update/CHANGELOG.md
**/node_modules/**
**/dist/**
**/.env
**/.env.*
**/*.tsbuildinfo
**/*.db
**/*.db-wal
**/*.db-shm
**/*.log
**/*.dem
